<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.demo.dao.BoardDao">
<!-- 자유게시판 목록 -->
<select id="list_board" resultType="com.movie.demo.vo.BoardVo">
	select b_no,b_Category,b_category_sub,b_title,b_content,b_date,user_id,b_report_cnt,b_hit, 
			(select count(cm.b_no) from board_comment cm where b.b_no = cm.b_no group by cm.b_no) as cm_cnt
	from board b
	where b_category = '자유게시판' order by b_no desc
</select>

<!-- 공지사항 목록 -->
<select id="list_notice" resultType="com.movie.demo.vo.BoardVo">
	select * from board where b_category = '공지사항' order by b_no desc
</select>

<!-- faq 목록 -->
<select id="list_faq" resultType="com.movie.demo.vo.BoardVo">
	select * from board where b_category = 'faq' order by b_no desc
</select>

<!-- 게시물 등록 -->	
<insert id="insert_board">
	insert into board values (seq_b_no.nextval,#{b_category},#{b_category_sub},#{b_title},#{b_content},sysdate,#{user_id},0,0)
</insert>
	
<!-- 게시물 상세보기 -->
<select id="detail_board" resultType="com.movie.demo.vo.BoardVo">
	select * from board where b_no = #{b_no}
</select>

<!-- 조회수 -->
<update id="hit_board">
	update board set b_hit = b_hit+1 where b_no = #{b_no}
</update>

<!-- 게시물 수정 -->
<update id="update_board">
	update board set b_title = #{b_title}, b_content = #{b_content} where b_no = #{b_no}
</update>

<!-- 게시물 삭제 -->
<delete id="delete_board">
	delete board where b_no = #{b_no}
</delete>

<!-- 게시물 삭제시 그 글의 댓글 삭제 -->
<delete id="delete_board_comment_all">
	delete board_comment where b_no = #{b_no}
</delete>

<!-- 댓글 목록 -->
<select id="list_board_comment" resultType="com.movie.demo.vo.Board_commentVo">
	select * from board_comment order by cm_no desc
</select>

<!-- 댓글 등록 -->
<insert id="insert_board_comment">
	insert into board_comment values (seq_cm_no.nextval,#{cm_content},sysdate,#{user_id},#{b_no})
</insert>

<!-- 댓글 수정 -->
<update id="update_board_comment">
	update board_comment set cm_content = #{cm_content} where cm_no = #{cm_no}
</update>

<!-- 댓글 삭제 -->
<delete id="delete_board_comment">
	delete board_comment where cm_no = #{cm_no}
</delete>

</mapper>