<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.demo.dao.GoodsDao">
<!-- 상품 등록 -->
<insert id="insert_goods">
	insert into goods values(seq_g_no.nextval,#{g_type},#{g_name},#{g_price},#{g_qty},#{g_pic_name})
</insert>

<!-- 상품 목록 -->
<!-- 강제로 0번 입력해서 0보다 큰거만 조회 -->
<select id="list_goods" resultType="com.movie.demo.vo.GoodsVo">
	select * from goods where g_no > 0 
	<if test="g_type != null">
		and g_type = #{g_type}
	</if>
	order by g_no desc
</select>


<!-- 상품 수정 -->
<update id="update_goods">
	update goods set g_type = #{g_type}, g_name = #{g_name}, g_price = #{g_price}, g_qty = #{g_qty}, g_pic_name = #{g_pic_name} 
	where g_no = #{g_no}
</update>

<!-- 상품 삭제 -->
<delete id="delete_goods">
	delete goods where g_no = #{g_no}
</delete>

<!-- 장바구니 담기 -->
<!-- g_no, r_no 상품번호 예약번호 구분 -->
<insert id="insert_cart">
	insert into cart values (seq_c_no.nextval,#{c_name},#{c_qty},#{g_no},#{rs_no},#{user_id},#{c_price})
</insert>

<!-- 장바구니 삭제 -->
<delete id="delete_cart">
	delete cart where c_no = #{c_no}
</delete>

<!-- 장바구니 목록 -->
<select id="list_cart" resultType="com.movie.demo.vo.CartVo">
	select c_no, c_name, c_qty, g_no, rs_no, user_id, c_price, (select g.g_pic_name from goods g where c.g_no = g.g_no) as g_pic_name
	from cart c
	where user_id = #{user_id} order by c_no desc
</select>

</mapper>