<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao">	
	<insert id="test">
		insert into member ({user_id},{pwd},{name},{age},{addr},{email},{role})
	</insert>
</mapper>