<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.demo.dao.WishlistDao">
<!-- 위시리스트 등록 -->
<insert id="insert_wishlist">
	insert into wishlist values(seq_w_no.nextval,sysdate,#{user_id},#{m_no})
</insert>

<!-- 위시리스트 삭제-->
<delete id="delete_wishlist">
	delete wishlist where w_no = #{w_no}
</delete>

<!-- 위시리스트 목록 -->
<select id="list_wishlist" resultType="com.movie.demo.vo.WishlistVo">
	select * from wishlist w, movie m
	where user_id = #{user_id} and w.m_no = m.m_no
</select>

<!-- 위시리스트에 추가한 영화인지 확인 -->
<select id="chk_wishlist" resultType="java.lang.Integer">
	select count(*) from wishlist where user_id = #{user_id} and m_no = #{m_no}
</select>

<!-- 위시리스트에 추가한 영화인지 확인을 위한 영화번호 조회 -->
<select id="list_m_no" resultType="java.lang.Integer">
	select m_no from movie where m_title = #{m_title}
</select>

<!-- 위시번호 조회 -->
<select id="search_w_no" resultType="int">
	select w_no from wishlist where user_id = #{user_id} and m_no = #{m_no}
</select>
</mapper>